    .parent {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
    
    .caratula {
        font-family: serif;
        font-size: 20px;
        text-align: center;
        grid-column: 3;
    }
    
    .trabajo {
        font-family: 'Times New Roman', Times, serif;
        font-size: medium;
        grid-row: 2;
        grid-column-start: 1;
        grid-column-end: 4;
        height: 45px;
    }
    
    .formulario {
        grid-row: 3;
        grid-column-start: 1;
        grid-column-end: 4;
    }